{
  "plugins": [
    [
      "module-resolver",
      {
        
        "alias": {
          "~": "./src",
          "com": "./src/components"
        },
        "extensions": [".js", ".jsx", ".es", ".es6", ".mjs"]
        
      }
    ]
  ]
}
